<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="koover.com.koover2021">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Bloques permisos hardware camara /////////////////////////////////////////// -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContratarVideoconferencia"></activity>
        <activity android:name=".KooVideoconferencia">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />

            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
        </activity>

        <activity
            android:name=".UserProfile"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Actividades de los perfiles de Usuario /////////////////////////////// -->
        <activity android:name=".UserProfileEdit" /> <!-- ********************************************************************** -->
        <activity
            android:name=".DetallePago"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Pagar" />
        <activity
            android:name=".ConfirmacionPedido"
            android:parentActivityName=".Contratar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Contratar" />
        </activity>
        <activity android:name=".Contratar" />
        <activity android:name=".Chat" />
        <activity android:name=".KooDetailActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".IntroductoryActivity">

            <!-- /// INICIA LA APPLICACIÓN -->

        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".UserProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBfbkDGDTPbBZAwnvyQW0ncuS7F8X40h8" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>